Index.json
[
    {
        "id": "84dcb3f151f25f4f",
        "type": "tab",
        "label": "Random Quote Generator ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c98785b3f9fb3fa",
        "type": "ui_dropdown",
        "z": "84dcb3f151f25f4f",
        "name": "Category",
        "label": "Category",
        "tooltip": "Select a category to get Quote",
        "place": "Select category",
        "group": "f116531422b026a2",
        "order": 2,
        "width": "9",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Amazing",
                "value": "amazing",
                "type": "str"
            },
            {
                "label": "Architecture",
                "value": "architecture",
                "type": "str"
            },
            {
                "label": "Art",
                "value": "art",
                "type": "str"
            },
            {
                "label": "Attitude",
                "value": "attitude",
                "type": "str"
            },
            {
                "label": "Best",
                "value": "best",
                "type": "str"
            },
            {
                "label": "Birthday",
                "value": "birthday",
                "type": "str"
            },
            {
                "label": "Business",
                "value": "business",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "car",
                "type": "str"
            },
            {
                "label": "Change",
                "value": "change",
                "type": "str"
            },
            {
                "label": "Communication",
                "value": "communication",
                "type": "str"
            },
            {
                "label": "Computers",
                "value": "computers",
                "type": "str"
            },
            {
                "label": "Cool",
                "value": "cool",
                "type": "str"
            },
            {
                "label": "Courage",
                "value": "courage",
                "type": "str"
            },
            {
                "label": "Dad",
                "value": "dad",
                "type": "str"
            },
            {
                "label": "Dating",
                "value": "dating",
                "type": "str"
            },
            {
                "label": "Death",
                "value": "death",
                "type": "str"
            },
            {
                "label": "Design",
                "value": "design",
                "type": "str"
            },
            {
                "label": "Dreams",
                "value": "dreams",
                "type": "str"
            },
            {
                "label": "Education",
                "value": "education",
                "type": "str"
            },
            {
                "label": "Environmental",
                "value": "environmental",
                "type": "str"
            },
            {
                "label": "Equality",
                "value": "equality",
                "type": "str"
            },
            {
                "label": "Experience",
                "value": "experience",
                "type": "str"
            },
            {
                "label": "Failure",
                "value": "failure",
                "type": "str"
            },
            {
                "label": "Faith",
                "value": "faith",
                "type": "str"
            },
            {
                "label": "Family",
                "value": "family",
                "type": "str"
            },
            {
                "label": "Famous",
                "value": "famous",
                "type": "str"
            },
            {
                "label": "Fear",
                "value": "fear",
                "type": "str"
            },
            {
                "label": "Fitness",
                "value": "fitness",
                "type": "str"
            },
            {
                "label": "Food",
                "value": "food",
                "type": "str"
            },
            {
                "label": "Forgiveness",
                "value": "forgiveness",
                "type": "str"
            },
            {
                "label": "Freedom",
                "value": "freedom",
                "type": "str"
            },
            {
                "label": "Friendship",
                "value": "friendship",
                "type": "str"
            },
            {
                "label": "Funny",
                "value": "funny",
                "type": "str"
            },
            {
                "label": "Future",
                "value": "future",
                "type": "str"
            },
            {
                "label": "God",
                "value": "god",
                "type": "str"
            },
            {
                "label": "Good",
                "value": "good",
                "type": "str"
            },
            {
                "label": "Government",
                "value": "government",
                "type": "str"
            },
            {
                "label": "Graduation",
                "value": "graduation",
                "type": "str"
            },
            {
                "label": "Great",
                "value": "great",
                "type": "str"
            },
            {
                "label": "Happiness",
                "value": "happiness",
                "type": "str"
            },
            {
                "label": "Health",
                "value": "health",
                "type": "str"
            },
            {
                "label": "History",
                "value": "history",
                "type": "str"
            },
            {
                "label": "Home",
                "value": "home",
                "type": "str"
            },
            {
                "label": "Hope",
                "value": "hope",
                "type": "str"
            },
            {
                "label": "Humor",
                "value": "humor",
                "type": "str"
            },
            {
                "label": "Imagination",
                "value": "imagination",
                "type": "str"
            },
            {
                "label": "Inspirational",
                "value": "inspirational",
                "type": "str"
            },
            {
                "label": "Intelligence",
                "value": "intelligence",
                "type": "str"
            },
            {
                "label": "Jealousy",
                "value": "jealousy",
                "type": "str"
            },
            {
                "label": "Knowledge",
                "value": "knowledge",
                "type": "str"
            },
            {
                "label": "Leadership",
                "value": "leadership",
                "type": "str"
            },
            {
                "label": "Learning",
                "value": "learning",
                "type": "str"
            },
            {
                "label": "Legal",
                "value": "legal",
                "type": "str"
            },
            {
                "label": "Life",
                "value": "life",
                "type": "str"
            },
            {
                "label": "Love",
                "value": "love",
                "type": "str"
            },
            {
                "label": "Marriage",
                "value": "marriage",
                "type": "str"
            },
            {
                "label": "Medical",
                "value": "medical",
                "type": "str"
            },
            {
                "label": "Men",
                "value": "men",
                "type": "str"
            },
            {
                "label": "Mom",
                "value": "mom",
                "type": "str"
            },
            {
                "label": "Money",
                "value": "money",
                "type": "str"
            },
            {
                "label": "Morning",
                "value": "morning",
                "type": "str"
            },
            {
                "label": "Movies",
                "value": "movies",
                "type": "str"
            },
            {
                "label": "Success",
                "value": "success",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "78c668ac03e7136f"
            ]
        ]
    },
    {
        "id": "78c668ac03e7136f",
        "type": "function",
        "z": "84dcb3f151f25f4f",
        "name": "Get Category",
        "func": "// Get the category from the incoming message payload\nlet category = msg.payload;\n// Define the base URL for the API request\nlet baseURL = \"https://api.api-ninjas.com/v1/quotes\";\n// Construct the final URL with the selected category\nlet finalURL = `${baseURL}?category=${category}`;\n// Set the URL and headers for the HTTP request\nmsg.url = finalURL;\nmsg.headers = {\n    \"X-Api-Key\": \"V0hHRaNm/OcxJx1ZVqfasA==DRdZnLkG5l2SKHKN\"\n};\n// Return the modified message object\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 260,
        "wires": [
            [
                "7dea7e27740139d2"
            ]
        ]
    },
    {
        "id": "7dea7e27740139d2",
        "type": "http request",
        "z": "84dcb3f151f25f4f",
        "name": "Get Quote",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 260,
        "wires": [
            [
                "7f2c11fe8b515178"
            ]
        ]
    },
    {
        "id": "7f2c11fe8b515178",
        "type": "function",
        "z": "84dcb3f151f25f4f",
        "name": "Format Quote",
        "func": "msg.payload = {\n        Quote:msg.payload[0].quote,\n        AUTHOR:msg.payload[0].author,\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 260,
        "wires": [
            [
                "7d8aded4f1f3dabd"
            ]
        ]
    },
    {
        "id": "7d8aded4f1f3dabd",
        "type": "ui_text",
        "z": "84dcb3f151f25f4f",
        "group": "f116531422b026a2",
        "order": 6,
        "width": "9",
        "height": "2",
        "name": "Quote Display",
        "label": "Random Quote :",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Times New Roman,Times,serif",
        "fontSize": "",
        "color": "#05a389",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "e71f753e2a1c396b",
        "type": "ui_spacer",
        "z": "84dcb3f151f25f4f",
        "name": "spacer",
        "group": "f116531422b026a2",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "5a164ac1492f9e70",
        "type": "ui_spacer",
        "z": "84dcb3f151f25f4f",
        "name": "spacer",
        "group": "f116531422b026a2",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "f116531422b026a2",
        "type": "ui_group",
        "name": "Quote Generator",
        "tab": "11130b2099b2c68d",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "11130b2099b2c68d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
